<!doctype html> 
<html> 
<head> 
    <meta charset="utf-8"> 
    <title></title> 
    <script type="text/javascript" src='js/bower_components/vue/dist/vue.js'></script>
</head>
<body>
<input type='text' v-model='a'> + 
<input type='text' v-model='b'> =
{{c}}
<script type="text/javascript">
	var a = new Vue({
		el:'body',
		data:{
			a:'',
			b:'',
			c:''
		}
	});

	a.$watch('a',function(){
		a.c = Number(a.a) + Number(a.b);
	});

	a.$watch('b',function(){
		a.c = Number(a.a) + Number(a.b);
	})

</script>
</body>
</html>