<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="../vue.min.js"></script>
    <title>BBBB</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body >
   <div class="container">
     <form class="from">
       <div class="form-group">
         <label>姓名</label>
         <input type="" name="" class="form-control" v-model='nameNode'>
       </div>
         <div class="form-group">
         <label>年龄</label>
         <input type="" name="" class="form-control" v-model='ageNode'>
       </div>
     </form>
     <input type="button" name="" class="btn btn-default btn-primary" value="确定" @click='add'>
      <input type="button" name="" class="btn btn-default btn-primary" value="按年龄排序">
      <table class="table table-hover table-bordered text-center" style="margin-top:20px;"> 
        <thead>
          <tr> 
             <td>序号</td>
             <td>姓名</td>
             <td>年龄</td>
             <td>选项</td> 
          </tr>
        </thead>
        <tbody>
          <tr v-for=' i in msg'>
             <td>{{$index+1}}</td>
             <td>{{i.name}}</td>
             <td>{{i.age}}</td>
             <td><input type="button" value="删除" class="btn btn-default btn-danger btn-xs" data-toggle="modal" data-target="#delete" @click='index=$index'></td>
          </tr>
          <tr v-show='msg.length?false:true'>
            <td colspan="4">
            请输入数据
            </td>
          </tr>
        </tbody>
      </table>
   </div>
<div class="modal fade" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示框</h4>
      </div>
      <div class="modal-body">
        <p>确认删除？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  @click='dele'>确认删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script  type="text/javascript">
       new Vue({
          el:'body',
          data:{
            'nameNode':'',
            'ageNode':'',
            'msg':[],
             'index':0
          },
          methods:{
             add:function () {

               this.msg.push({
                  name:this.nameNode,
                  age:this.ageNode
               })
             },
             dele:function(){
                  this.msg.splice(this.index,1);//万能方法 

             }
          }
       })
    </script>
        <script src="js/bootstrap.min.js"></script>
  </body>
</html>